<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!-- To avoid putting a value that will result in a non-squared board, the total board size 
		will be board_width*board_width. By this we'll always have a squared board, no matter the value.-->
		<add key="board_width" value="4"/> 
	</appSettings>
</configuration>